@keyframes cambioFondo {
    0% { background-color: #fd6060; } 
    25% { background-color: #fb8b24; } 
    50% { background-color: #fd6060; } 
    75% { background-color: #fb8b24; } 
    100% { background-color: #fd6060; } 
}
body {
    animation: cambioFondo 10s infinite;
}

header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1.25rem 0.125rem #dddddd; 
    background-color: rgb(114, 5, 5);
    padding: 0 1rem;
}

.logo {
    font-size: 2rem;
    margin-right: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul {
    display: flex;
    list-style: none;
}

ul a {
    margin-left: 1rem;
    transition: 0.5s;
    text-decoration: none;
    margin-right: 2rem;
    color: white;
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}

ul a:hover {
    font-size: 1rem;
    color: rgb(235, 244, 0);
    transform: scale(1.1);
}
form {
    background: linear-gradient(135deg, #fd6060, #fb8b24);
    border-radius: 2rem; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); 
    padding: 3.75rem; 
    max-width: 25rem; 
    margin: 0 auto;
    animation: fadeIn 0.5s ease;
    margin-top: 4cm; 
}

form h1 {
    text-align: center;
    margin-bottom: 1.25rem; 
    font-family: "Rowdies", sans-serif;
    font-size: 2rem;
    color: #fff; 
}

form div {
    margin-bottom: 1.875rem; 
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3125rem; 
    color: #fff; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 0.75rem; 
    border: none;
    border-radius: 0.5rem; 
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2); 
    color: #030303; 
    margin-top: 0.5rem; 
    box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.1); 
    background-color:  linear-gradient(135deg, #fd6060, #fb8b24);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.75rem); 
    background-position-y: 50%;
    padding-right: 1.875rem; 
 
   background-color:  linear-gradient(135deg, #fd6060, #fb8b24);
}

.botCre {
    background-color:rgb(0, 127, 254);
    color: white;
    border: 2rem;
    border-radius: 0.5rem; 
    padding: 0.75rem 1.25rem; 
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-family: "Yatra One", system-ui;
    text-transform: uppercase;
}

.botCan {
    background-color: transparent;
    color: #000000;
    border: 0.125rem solid #fff; 
}

button:hover {
    background-color: mediumspringgreen;
    color:black;
}

.checkbox-link {
    font-size: 0.875rem; 
    color: #fff; 
}

.checkbox-link a {
    margin-left: 0.3125rem; 
    color: #fff; 
}


.botoncito {
    text-align: center;
    margin-top: 2rem; 
} .botoncito .container {
        display: inline-block;
        background-color: #fd6060; 
        border: 2px solid #fd6060; 
        border-radius: 0.5rem; 
        padding: 1rem 1.5rem; 
        transition: background-color 0.3s ease; 
    }

  .botoncito .container a {
            text-decoration: none; 
            color: #fff; 
            font-weight: bold; 
            font-size: 1rem; 
            font-family: "Yatra One", system-ui; 
        }

  .botoncito .container a:hover {
                background-color: #fb8b24; 
                border-color: #fb8b24; 
            }

