header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px 2px #ffffff;
    background-color: rgb(114, 5, 5);
    padding: 0 1rem;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    margin-right: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}


ul {
    display: flex;
    list-style: none;
}

    ul a {
        margin-left: 1rem;
        transition: 0.5s;
        text-decoration: none;
        margin-right: 2rem;
        color: white;
        font-family: "Yatra One", system-ui;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
    }

        ul a:hover {
            font-size: 1rem;
            color: rgb(235, 244, 0);
            transform: scale(1.1);
        }


.mostrarT {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.5rem;
    margin-top: 9rem;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: center;
}

    .mostrarT > div {
        background: #7e7e7e67;
        padding: 1.5rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        color: #ffffff;
        max-width: 30rem;
    }

        .mostrarT > div > p {
            margin: 0;
            font-weight: bold;
        }

.campos-container {
    color: rgb(0, 0, 0);
    background-color: #ffffff88;
    padding: 0.5rem; 
}


.botCre,
.botCan {
    background-color: #14d51a;
    border: none;
    color: black;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 0.3125rem;
}

    .botCre:hover {
        background-color: #5314dc;
        color: white;
    }

    .botCan:hover {
        background-color: #d32f2f;
        color: white;
    }

.centrarB {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

body {
    background-image: url("https://wallpapers.com/images/featured/barbell-am7v48yepmncv6c6.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
