* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/imagenli.jpg');
}
h1 {
    font-family: "Yatra One", system-ui;
}

header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1.25rem 0.125rem #ffffff; /* 20px 2px */
    background-color: rgb(114, 5, 5);
    padding: 0 1rem;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    margin-right: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul {
    display: flex;
    list-style: none;
}

    ul a {
        margin-left: 1rem;
        transition: 0.5s;
        text-decoration: none;
        margin-right: 2rem;
        color: white;
        font-family: "Yatra One", system-ui;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
    }

        ul a:hover {
            font-size: 1rem;
            color: rgb(235, 244, 0);
            transform: scale(1.1);
        }

section {
    position: static;
    max-width: 25rem; /* 400px */
    background-color: rgba(33, 33, 33, 0.5);
    border: 0.3125rem solid rgb(101, 101, 98); /* 5px */
    border-radius: 20px;
    backdrop-filter: blur(3.4375rem); /* 55px */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    opacity: 0.9;
    margin-top: 4.375rem; /* 70px */
    font-family: "Yatra One", system-ui;
}

.inputbox input {
    width: 100%;
    height: 3.75rem; /* 60px */
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 2.1875rem 0 0.1875rem; /* 35px 3px */
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color: #ffffff;
}

.inputbox ion-icon {
    position: absolute;
    right: 0.5rem; /* 8px */
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    top: 0.625rem; /* 10px */
}

.inputbox {
    position: relative;
    margin: 1.875rem 0; /* 30px */
    max-width: 15.625rem; /* 250px */
    font-family: "Yatra One", system-ui;
    border-bottom: 0.125rem solid #ffffff; /* 2px */
}

    .inputbox label {
        position: absolute;
        top: 10%;
        left: 0.3125rem; /* 5px */
        transform: translateY(-60%);
        color: #ffffff;
        font-size: 1rem;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        font-family: "Yatra One", system-ui;
    }

input:focus ~ label,
input:valid ~ label {
    top: -0.3125rem; /* -5px */
    font-family: "Yatra One", system-ui;
}

.forget {
    margin: 2.1875rem 0; /* 35px */
    font-size: 0.85rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

    .forget label {
        display: flex;
        align-items: center;
        font-family: "Yatra One", system-ui;
    }

        .forget label input {
            margin-right: 0.1875rem; /* 3px */
            font-family: "Yatra One", system-ui;
        }

    .forget a {
        color: rgb(247, 239, 8);
        text-decoration: none;
        font-weight: 600;
        font-family: "Yatra One", system-ui;
    }

        .forget a:hover {
            text-decoration: underline;
        }

button {
    width: 100%;
    height: 2.5rem; 
    border-radius: 2.5rem; 
    background-color: rgb(114, 5, 5);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    color: #ffffff;
    font-family: "Yatra One", system-ui;
}

    button:hover {
        background-color: rgb(247, 239, 8);
        color: black;
    }

.register {
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 1.5625rem 0 0.625rem; /* 25px 10px */
}

    .register p a {
        text-decoration: none;
        color: rgb(247, 239, 8);
        font-weight: 600;
    }

        .register p a:hover {
            text-decoration: underline;
        }
