<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesindex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <link href="~/stylesindex.css" rel="stylesheet" />
    <title>PAGINA PRINCIPAL</title>
</head>

<body>
    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Iniciar sesión", "IniciarSesion", "Home")</li>
            <li>@Html.ActionLink("Registrarse", "Formulario_Registro", "Home")</li>
        </ul>
    </header>
    <main>
        <section class="sectionFrase">
            <div>
                <h1 class="titulo">
                    <span>EL CUERPO LOGRA LO QUE LA MENTE CREE</span>

                    <span>CONVIERTETE EN UN DIOS GRIEGO</span>
                </h1>
            </div>
        </section>
        <section class="sectionIma">
            <div class="sectionIma_frase">
                <h3>¿QUE ESPERAS PARA EMPEZAR?</h3>
            </div>

            <div class="sectionIma_imagenes">
                <div class="sectionIma_imagenes-contenedor">
                    <img class="sectionIma_img" src="~/ImagenIndex.jpg" alt="">
                  
                </div>
                <div class="sectionIma_imagenes-contenedor">
                    <img class="sectionIma_img" src="~/ImagenIndex1.jpg" alt="">
                </div>
                <div class="sectionIma_imagenes-contenedor">
                    <img class="sectionIma_img" src="~/ImagenIndex2.jpg" alt="">
                </div>
                <div class="sectionIma_imagenes-contenedor">
                    <img class="sectionIma_img" src="~/ImagenIndex3.jpg" alt="">
                </div>

            </div>
            <div class="espaciecito">
                <h3>LA FUERZA NO PROVIENE DEL CUERPO  PROVIENE DE LA VOLUNTAD</h3>
            </div>
            <div class="botoncito">

                <a class="botoncilo_lindo"@Html.ActionLink("Registrarse", "Formulario_Registro", "Home")</a>
            </div>
    </main>
    </section>




</body>

</html>