@{
    ViewBag.Title = "PerfilUsuario";
}
@{
    // Recuperar el valor de la variable de sesión
    SPARTANFITApp.Dto.UsuarioDto usuario = Session["UserLogged"] as SPARTANFITApp.Dto.UsuarioDto;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PerfilUsuario</title>
</head>
<body>
    <div>
        <p>
            Nombres: @usuario.persona.nombres
        </p>
        <p>
            Apellidos: @usuario.persona.apellidos
        </p>
    </div>
</body>
</html>
