@{
    ViewBag.Title = "Principal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>
</head>
<body>
    <div>
        <p>
            @Model.persona.id_usuario
        </p>
        <p>
            Nombre : @Model.persona.nombres
        </p>
        <p>
            Apellidos: @Model.persona.apellidos
        </p>
            

    </div>
</body>
</html>
